<h1>LHS Vending Machine</h1>
<ul class="home-items">
{{ range . }}
    <li class="item">
        <a href="/items/{{ .ID }}" class="link">
            <span class="name">{{ .Name }}</span>
            <img src="/static/img/{{ .Image }}" role="presentation" class="image" />
        </a>
        <span class="price">{{ .FormattedPrice }}</span>
    </li>
{{ end }}
</ul>
